body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
}

h2 {
    color: #2ecc71;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}